@model Projet2.Models.Account
@{
    Layout = "_LayoutGeneral";
}
<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
@using (Html.BeginForm())
{
        <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        </div>
        <input type="submit" value="Créer" />
        @Html.ActionLink("Créer un compte", "CreateAccount")
}