@model Projet2.ViewModels.LoginViewModel

@{
    Layout = "_LayoutGeneral";
}

@if (Model.Authentificate==true)



{
    
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Account.Username)
            @Html.TextBoxFor(m => m.Account.Username)
            @Html.ValidationMessageFor(m => m.Account.Username)
        </div>
        <div>
            @Html.LabelFor(m => m.Account.Password)
            @Html.PasswordFor(m => m.Account.Password)
            @Html.ValidationMessageFor(m => m.Account.Password)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        <p>
            Vous n'etes pas encore inscrit chez nous? 
            Creez votre compte
        </p>
        <br />
        @Html.ActionLink("Creez votre compte Benevole", "CreateAccount","Account")
        <br/>
        @Html.ActionLink("Creez votre compte Adherent", "CreateAccount")
    }
}