@model Projet2.ViewModels.ProfileViewModel
@{
    Layout = "_LayoutGeneral";
}
<h2>CreateStuff</h2>

@using (Html.BeginForm())
{

            <div>
        @Html.LabelFor(m => m.stuff.Name)
        @Html.TextBoxFor(m => m.stuff.Name)
        @Html.ValidationMessageFor(m => m.stuff.Name)
            </div>
            <div>
        @Html.LabelFor(m => m.stuff.Type)
        @Html.PasswordFor(m => m.stuff.Type)
        @Html.ValidationMessageFor(m => m.stuff.Type)
            </div>
            <input type="submit" value="Créer" />

}


