@model Projet2.ViewModels.AdminViewModel

@{
    Layout = "_LayoutGeneral";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreerEmployé</title>
    <link href="~/css/EmployeeInscription.css" rel="stylesheet"/>
    <link rel="shortcut icon"
          href="Assets/Gif/ezgif-5-9ea2c6cf60-unscreen.gif"
          type="image/gif" />
</head>
<body>
    <div class="content">

    @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m=>m.Account.Id)
        @Html.HiddenFor(m=>m.Profile.Id)
        @Html.HiddenFor(n=>n.Contact.Id)
        @Html.HiddenFor(n=>n.Infos.Id)
        @Html.HiddenFor(n=>n.Inventory.Id)
        @Html.HiddenFor(n=>n.Employee.Id)
        @Html.HiddenFor(n=>n.Profile.Games)
        @Html.HiddenFor(m=>m.Profile.ProfilImage)
        @Html.HiddenFor(m=>m.Profile.Bio)

           <div class="part1">
            <div class="username">
            <label
              ><b>Nom d'utilisateur <sup>*</sup></b></label
            >
          </div>
            @Html.TextBoxFor(m => m.CreatedEmployee.Username)
            @Html.ValidationMessageFor(m => m.Account.Username)

        <div class="password">
            <label><b>Mot de passe <sup>*</sup></b></label>
        </div>
            @Html.PasswordFor(m => m.CreatedEmployee.Password)
            @Html.ValidationMessageFor(m => m.Account.Password)

            <div class="firstname">
            <label
              ><b>Prenom <sup>*</sup></b></label
            >
          </div>
            @Html.TextBoxFor(m =>m.CreatedEmployee.infoPerso.FirstName)
                @Html.ValidationMessageFor(m =>m.CreatedEmployee.infoPerso.FirstName)

            <div class="lastname">
            <label
              ><b>Nom <sup>*</sup></b></label
            >
          </div>
                @Html.TextBoxFor(m =>m.CreatedEmployee.infoPerso.LastName)
                @Html.ValidationMessageFor(m =>m.CreatedEmployee.infoPerso.LastName)


        <div class="birthdate">
            <label><b>Date de naissance <sup>*</sup></b></label>
        </div>
                @Html.TextBoxFor(m =>m.CreatedEmployee.infoPerso.Birthday, new { @type = "date"})
                @Html.ValidationMessageFor(m =>m.CreatedEmployee.infoPerso.Birthday)

                </div>

                <div class="part2">


            <div class="job">
            <label
              ><b>Type de poste <sup>*</sup></b></label
            >
          </div>
            @Html.TextBoxFor(m => m.Employee.JobName)
            @Html.ValidationMessageFor(m => m.Employee.JobName)

            <div class="matricule">
            <label
              ><b>Matricule <sup>*</sup></b></label
            >
          </div>
            @Html.TextBoxFor(m =>m.Employee.SerialNumber)
            @Html.ValidationMessageFor(m => m.Employee.SerialNumber)

            <div class="email">
            <label
              ><b>Email <sup>*</sup></b></label
            >
          </div>
                @Html.TextBoxFor(m =>m.CreatedEmployee.Contact.EmailAdress)
                @Html.ValidationMessageFor(m =>m.CreatedEmployee.Contact.EmailAdress)

            <div class="telephone">
            <label
              ><b>Telephone <sup>*</sup></b></label
            >
          </div>
                @Html.TextBoxFor(m =>m.CreatedEmployee.Contact.TelephoneNumber)
                @Html.ValidationMessageFor(m =>m.CreatedEmployee.Contact.TelephoneNumber)


                </div>



            


            @*@Html.LabelFor(m => m.Employee.DateOfEmployement)
            @Html.EditorFor(m => Model.Employee.DateOfEmployement)
            @Html.ValidationMessageFor(m => Model.Employee.DateOfEmployement)*@

            

                <input type="submit" value="Envoyer"/>

                  


    }

   
    </div>
</body>
</html>


