@model Projet2.ViewModels.AdminViewModel
@{
    Layout = "_LayoutGeneral";
}﻿

<link rel="stylesheet" href="~/css/DashboardAdmin.css" />

<div class="content">
    <div class="list">
        <div class="title-main"><h1>DashBoard Administrateur</h1></div>
        <div class="title1"><h2>Membres</h2></div>
        <div class="member-section">
            <div class="benevole">
               @using (Html.BeginForm("DeleteAccountBenevole", "Admin", FormMethod.Post))
                {
                    @Html.DropDownListFor(m => m.selectedAccount, Model.ListAccountsBenevole,"Selectionnez un benevole")
                    <input type="submit" value="supprimer"> 
                }
            </div>
            <div class="adherent">
                @using (Html.BeginForm("DeleteAccountAdherent", "Admin", FormMethod.Post))
                {
                    @Html.DropDownListFor(m => m.selectedAccount, Model.ListAccountsAdherent,"Selectionnez un adherent")
                    <input type="submit" value="supprimer">
                }
            </div>
            <div class="employee">
                @using (Html.BeginForm("DeleteAccountEmployee", "Admin", FormMethod.Post))
                {
                    @Html.DropDownListFor(m => m.selectedAccount, Model.ListAccountsEmployee,"Selectionnez un salarié")
                    <input type="submit" value="supprimer">
                }
            </div>
            <div class="adding-employee">
                @Html.ActionLink("Ajoutez un nouveau membre de l'équipe","CreateEmployee","Admin")
            </div>
        </div>
    </div>
</div>

@section ExtraCSS {
    
}







    
@*    <main>
        <div class="content">
            <div class="listes">
                <h2>Membres</h2>
                <!-- <a href="Liste"></a> -->
                <div class="Lists"> 
            @using (Html.BeginForm("DeleteAccountAdherent", "Admin", FormMethod.Post))
            {@Html.DropDownListFor(m => m.selectedAccount, Model.ListAccountsAdherent,"Selectionnez un adherent")
             <input type="submit" value="supprimer">}
        </div>
            <div class="Lists">
                @using (Html.BeginForm("DeleteAccountBenevole", "Admin", FormMethod.Post))
            {@Html.DropDownListFor(m => m.selectedAccount, Model.ListAccountsBenevole,"Selectionnez un benevole")
                <input type="submit" value="supprimer"> }

                </div>
                <div class="Lists">
                    @using (Html.BeginForm("DeleteAccountEmployee", "Admin", FormMethod.Post))
            { @Html.DropDownListFor(m => m.selectedAccount, Model.ListAccountsEmployee,"Selectionnez un salarié")
                <input type="submit" value="supprimer">}
                </div>

            </div>

            <div class="CreateEmployee">
               @Html.ActionLink("Ajoutez un nouveau membre de l'équipe","CreateEmployee","Admin")
            </div>
            <div class="admin">
                <h3>Admin</h3>
                <!-- <a href="Profil"></a> -->
                <!-- <a href="Messagerie"></a> -->
            </div>
            <div class="gestion center">
                <div class="icon center">
                    <!-- <a href="https://fontawesome.com/icons/hand-holding-dollar?s=solid&f=classic">-->
                    <i class="fas fa-gamepad fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-user fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-calendar-week fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-desktop fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-money-bill fa-lg"></i>
                </div>
            </div>
        </div>



        
    </main>*@


                @*<script src="/_framework/aspnetcore-browser-refresh.js"></script>*@

