<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="entete">
        <h1>Play4Us</h1>
    </div>

    <div id="main">
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("Accueil", "Index")</li>
                <li>@Html.ActionLink("EditAdherent", "EditAdherent", "Adherent")</li>
                <li>@Html.ActionLink("Formulaire d'adhésion", "CreateAdherent", "Adherent")</li>
                <li>@Html.ActionLink("Forum", "Forum")</li>
            </ul>
        </div>

        <div id="contenu">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year - Play4Us, contactez moi sur monmail@play4Us.com - SEND NUDE

    </div>
</body>
</html>
