@model Projet2.ViewModels.InscriptionViewModel
@{
    Layout = "_LayoutGeneral";
}

<div class="content">
    @using (Html.BeginForm("SignUpBenevole", "Inscription", FormMethod.Post, new { enctype = "multipart/form-data"  }))
    {
        @Html.HiddenFor(m=>m.Account.Id)
        @Html.HiddenFor(m=>m.Profile.Id)
        @Html.HiddenFor(n=>n.Contact.Id)
        @Html.HiddenFor(n=>n.Infos.Id)
        @Html.HiddenFor(n=>n.Inventory.Id)
        @Html.HiddenFor(m=>m.Account.role)



        <h1>Inscription Adherent</h1>
        <div class="part1">
            <div class="pseudo">
                <label>Pseudo</label>
            </div>
            @Html.TextBoxFor(m => m.Account.Username, new {placeholder = "Entrez votre pseudo"})
            @Html.ValidationMessageFor(m =>  m.Account.Username)

            <div class="password">
                <label>Mot de passe</label>
            </div>
            @Html.PasswordFor(m =>m.Account.Password, new {placeholder = "Entrez votre mot de passe"})
            @Html.ValidationMessageFor(m =>m.Account.Password)

            <div class="firstname">
                <label>Prenom</label>
            </div>
            @Html.TextBoxFor(m =>m.Infos.FirstName, new {placeholder = "Entrez votre prenom"})
            @Html.ValidationMessageFor(m =>m.Infos.FirstName)

            <div class="lastname">
                <label>Nom</label>
            </div>
            @Html.TextBoxFor(m =>m.Infos.LastName, new {placeholder = "Entrez votre nom"})
            @Html.ValidationMessageFor(m =>m.Infos.LastName)

            <div class="birthday">
                <label>Date de naissance</label>
            </div>
            @Html.TextBoxFor(m =>m.Infos.Birthday, new { @type = "date", placeholder = "Entrez votre date de naissance"})
            @Html.ValidationMessageFor(m =>m.Infos.Birthday)

            <div class="email">
                <label>Email</label>
            </div>
            @Html.TextBoxFor(m =>m.Contact.EmailAdress, new {placeholder = "Entrez votre adresse email", type="email"})
            @Html.ValidationMessageFor(m =>m.Contact.EmailAdress)

            <div class="telnumber">
                <label>N° de telephone</label>
            </div>
            @Html.TextBoxFor(m =>m.Contact.TelephoneNumber, new {placeholder = "Entrez votre n° de telephone"})
            @Html.ValidationMessageFor(m =>m.Contact.TelephoneNumber)
        </div>

        <div class="part2">
            <div class="profilePic">
                <label>Image de profil</label>
            </div>
            @Html.TextBoxFor(model => model.Profile.ProfilImage, new { placeholder = "Description", @type = "file" })

            <div class="bio">
                <label>Biographie</label>
            </div>
            @Html.TextAreaFor(m => m.Profile.Bio, new {placeholder = "Decrivez-vous en quelques lignes"})
            @Html.ValidationMessageFor(m =>  m.Profile.Bio)

            <div class="games">
                <label>Genre de jeux préférés ?</label>
            </div>
            @Html.TextBoxFor(m => m.Profile.Games, new {placeholder = "Dites-nous tout..."})
            @Html.ValidationMessageFor(m =>  m.Profile.Games)
        </div>

        <input type="submit" value="S'inscrire" class="BoutonValidationFormulaire" />
    }
</div>

@*    @section ExtraJs{
            <script>
    const menuHamburgerProfile = document.querySelector(
    ".menu-hamburger-profile"
    );
    const navLinksProfile = document.querySelector(".nav-links-profile");

    menuHamburgerProfile.addEventListener("click", () => {
    navLinksProfile.classList.toggle("mobile-menu-profile");
    });
</script>
    }*@

    @section ExtraCss {
        <link rel="stylesheet" href="~/css/SignUpBenevole.css"/>
    }