@model Projet2.ViewModels.InscriptionViewModel
@{
    Layout = "_LayoutGeneral";
}

<link rel="stylesheet" href="~/css/SignUpAdherent.css"/>



<div class="content">
    @using (Html.BeginForm("SignUpAdherent", "Inscription", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m=>m.Account.Id)
        @Html.HiddenFor(m=>m.Profile.Id)
        @Html.HiddenFor(n=>n.Contact.Id)
        @Html.HiddenFor(n=>n.Infos.Id)
        @Html.HiddenFor(n=>n.Inventory.Id)
        @Html.HiddenFor(m=>m.Account.role)

        <h1>Inscription Adherent</h1>
        <div class="part1">
            <div class="pseudo">
                <label>Pseudo</label>
            </div>
            @Html.TextBoxFor(m => m.Account.Username, new { placeholder = "Entrez votre pseudo"})
            @Html.ValidationMessageFor(m =>  m.Account.Username)

            <div class="password">
                <label>Mot de passe</label>
            </div>
            @Html.PasswordFor(m =>m.Account.Password , new { placeholder = "Entrez votre mot de passe"})
            @Html.ValidationMessageFor(m =>m.Account.Password)

            <div class="firstname">
                <label>Prenom</label>
            </div>
            @Html.TextBoxFor(m =>m.Infos.FirstName , new { placeholder = "Entrez votre prenom"})
            @Html.ValidationMessageFor(m =>m.Infos.FirstName)

            <div class="lastname">
                <label>Nom</label>
            </div>
            @Html.TextBoxFor(m =>m.Infos.LastName , new { placeholder = "Entrez votre nom"})
            @Html.ValidationMessageFor(m =>m.Infos.LastName)

            <div class="birthday">
                <label>Date de naissance</label>
            </div>
            @Html.TextBoxFor(m =>m.Infos.Birthday, new { @type = "date", placeholder = "Entrez votre date de naissance"})
            @Html.ValidationMessageFor(m =>m.Infos.Birthday)

            <div class="email">
                <label>Email</label>
            </div>
            @Html.TextBoxFor(m =>m.Contact.EmailAdress , new { placeholder = "Entrez votre adresse email", type="email"})
            @Html.ValidationMessageFor(m =>m.Contact.EmailAdress)

            <div class="telnumber">
                <label>N° de telephone</label>
            </div>
            @Html.TextBoxFor(m =>m.Contact.TelephoneNumber, new { placeholder = "Entrez votre n° de telephone"})
            @Html.ValidationMessageFor(m =>m.Contact.TelephoneNumber)
        </div>

        <div class="part2">
            <div class="profilePic">
                <label>Image de profil</label>
            </div>
            @Html.TextBoxFor(model => model.Profile.ProfilImage, new { placeholder = "Description", @type = "file" })

            <div class="bio">
                <label>Biographie</label>
            </div>
            @Html.TextAreaFor(m => m.Profile.Bio , new { placeholder = "Decrivez-vous en quelques lignes"})
            @Html.ValidationMessageFor(m =>  m.Profile.Bio)

            <div class="games">
                <label>Genre de jeux préférés ?</label>
            </div>
            @Html.TextBoxFor(m => m.Profile.Games , new { placeholder = "Dites-nous tout..."})
            @Html.ValidationMessageFor(m =>  m.Profile.Games)

            <div class="docID">
                <label>Document d'identité</label>
                <p>Veuillez fournir un justificatif d'identité en format PDF</p>
            </div>
            @Html.TextBoxFor(m => m.Adherent.DocAdherent , new { placeholder = "Description", @type = "file" })
            @Html.ValidationMessageFor(m =>m.Adherent.DocAdherent)
            <div class="iban">
                <label>IBAN/RIB</label>
            </div>
            @Html.TextBoxFor(m => m.Contribution.RIB , new { placeholder = "FRXX-XXXX-XXXX-XXXX-XXXX"})
            @Html.ValidationMessageFor(m =>  m.Contribution.RIB)

            <div class="prelevementDate">
                <label>DatePrelèvement</label>
            </div>
            @Html.DropDownListFor(m => m.PrelevementDate, Html.GetEnumSelectList<Projet2.Models.PrelevementDate>(), "Selectionner une date")
            @Html.ValidationMessageFor(m => m.PrelevementDate)

            <div class="contributionType">
                <label>Contributiontype</label>
            </div>
            @Html.DropDownListFor(m => m.ContributionType, Html.GetEnumSelectList<Projet2.Models.ContributionType>(), "Selectionner une date")
            @Html.ValidationMessageFor(m => m.ContributionType)
        </div>

        <input type="submit" value="S'inscrire" class="BoutonValidationFormulaire" />
    }
</div>


@*<head>
    <title>Inscription Benevole</title>
</head>

<p>
    Veuillez Remplir les champs pour créer voter compte Benevole :
    InscritptionBenevole
</p>
@using (Html.BeginForm("SignUpAdherent", "Inscription", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <fieldset >
        <legend>
            Votre Adhesion :
        </legend>
        <section>
            <table class="payement">
                <tbody>

                    <tr>
                        <td>@Html.LabelFor(m => m.Adherent.IDDocuments)</td>
                        <td> @Html.TextBoxFor(m => m.Adherent.IDDocuments)</td>
                        <td> @Html.ValidationMessageFor(m =>m.Adherent.IDDocuments)</td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(m => m.Contribution.RIB)</td>
                        <td> @Html.TextBoxFor(m => m.Contribution.RIB)</td>
                        <td> @Html.ValidationMessageFor(m =>  m.Contribution.RIB)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.PrelevementDate)</td>
                        <td>@Html.DropDownListFor(m => m.PrelevementDate, Html.GetEnumSelectList<Projet2.Models.PrelevementDate>(), "Selectionner une date")</td>
                        <td> @Html.ValidationMessageFor(m => m.PrelevementDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ContributionType)</td>
                        <td>@Html.DropDownListFor(m => m.ContributionType, Html.GetEnumSelectList<Projet2.Models.ContributionType>(), "Selectionner une date")</td>
                        <td> @Html.ValidationMessageFor(m => m.ContributionType)</td>
                    </tr>


                </tbody>
            </table>
        </section>
    </fieldset>





    <input type="submit" value="Créer" class="BoutonValidationFormulaire"/>
   
}*@