@using Projet2.Models;
@model Projet2.ViewModels.ActivitiesViewModel
@{
    Layout = "_LayoutGeneral";

}
@Html.HiddenFor(m=>m.Account.Id)

<div class="content">
   
    <div class="planning">
        <div class="table-title">
            <h1>Activités</h1>
        </div>
        <div class="button-add-activities">
            <button onclick="location.href='@Url.Action("CreateActivity", "Activities")'">+</button>
        </div>
        <div class="activities">

        <table >
             <thead>
        <tr>
            <th></th>
            <th><h2>Type</h2></th>
            <th><h2>Résumé</h2></th>
            <th><h2>Lieu</h2></th>
            <th><h2>Auteur</h2></th>
            <th><h2>Début</h2></th>
            <th><h2>Fin</h2></th>
    
        </tr>
                </thead>
                <tbody>
        @foreach (var Activity in Model.activities)
        {
            var Account = Model.accounts;
                <tr>
                <td><img src="@Activity.ImagePath" height="100" width="100" /></td>
                <td>@Html.DisplayFor(mActivity => Activity.activityType)</td>
                <td class="preview-description">@Html.DisplayFor(mActivity => Activity.Description)</td>
                <td>@Html.DisplayFor(mActivity => Activity.Place)</td>
                <td>@Html.DisplayFor(mActivity => Activity.Organizer)</td>
                <td>@Html.DisplayFor(mActivity => Activity.StartDate)</td>
                <td>@Html.DisplayFor(mActivity => Activity.EndDate)</td>

        @if (Model.Account != null) {
                <td> 
                 @Html.ActionLink("S'inscrire", "Book", "Activities", new { id = Activity.Id });
                </td>
                                <td>
                                    @if (Model.Account.role == Role.Admin || Model.Account.role == Role.Salarie)
                                    {
                                        @Html.ActionLink("Modifier", "EditActivity", "Activities", new { id = Activity.Id })
                                        ; }
                                </td>
                <td>
                @if (Model.Account.role == Role.Admin || Model.Account.role == Role.Salarie)
                {
                                        @Html.ActionLink("Modifier", "CreateActivity", "Activities", new { id = Activity.Id })
                    ; }
                 </td>
        }
                   }
    




         </tbody>
</table>
        </div>
        <div class="description-content">
            <div id="description" class="description">
                <h3>Description</h3>
                <p id="description-text"></p>
                @if (Model.Account.role == Projet2.Models.Role.Adherent)
                {
                    <div class="inscription-button">
                        <input type="button" value="S'inscrire" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

       @* && Model.Account.role!=Projet2.Models.Role.Benevole*@

@section ExtraCss{
    <link rel="stylesheet" href="~/css/CatalogueActivities.css"/>
}

@section ExtraJs{
    <script src="~/JS/CatalogueActivities.js"></script>
 }