@model Projet2.ViewModels.ActivitiesViewModel
@{
    Layout = "_LayoutGeneral";
}

<div class="content">
    @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h1>Création d'une activité</h1>

        <div class="attributs">
          <div class="activity-type">
            <label>Type d'activité</label>
                @Html.DropDownListFor(m => m.Activity.activityType,Html.GetEnumSelectList<Projet2.Models.ActivityType>(),"Selectionnez le type d'activité")
                @Html.ValidationMessageFor(m => m.Activity.activityType)
          </div>

          <div class="activity-evenement-type">
            <label>Type d'évenement</label>
                @Html.DropDownListFor(m => m.Activity.ActivityEventType, Html.GetEnumSelectList<Projet2.Models.EventType>(), "Selectionnez le type d'evenement")
                @Html.ValidationMessageFor(m => m.Activity.ActivityEventType)
          </div>

          <div class="place">
            <label>Lieu</label>
                @Html.TextBoxFor(m=>m.Activity.Place)
                @Html.ValidationMessageFor(m => m.Activity.Place)
          </div>

          <div class="start-date">
            <label>Date de début</label>
                @Html.TextBoxFor(m=>m.Activity.StartDate, new { @type = "date"})
                @Html.ValidationMessageFor(m => m.Activity.StartDate)
          </div>
          <div class="end-date">
            <label>Date de fin</label>
                @Html.TextBoxFor(m=>m.Activity.EndDate, new { @type = "date"})
                @Html.ValidationMessageFor(m => m.Activity.EndDate)

            <div class="nulber-of-participants">
              <label>Nombre de participants</label>
                @Html.TextBoxFor(m=>m.Activity.NumberOfParticipants)
                @Html.ValidationMessageFor(m => m.Activity.NumberOfParticipants)
            </div>

            <div class="image">
              <label>Image</label>
            </div>
                @Html.TextBoxFor(model => model.Activity.ActivityImage, new { placeholder = "Description", @type = "file",accept=".png, .jpg, .jpeg,.gif" })
                @Html.ValidationMessageFor(m => m.Activity.ActivityImage)
          </div>
        </div>
        <div class="description">
          <div class="label">
            <label>Contenu</label>
          </div>
            @Html.TextAreaFor(m=>m.Activity.Description)
            @Html.ValidationMessageFor(m => m.Activity.Description)
        </div>

        <input type="submit" id="submit" value="Publier" />
      }
    </div>


@section ExtraCSS {
        <link rel="stylesheet" href="~/css/CreateActivity.css" />
}



















@*<h2>Creation d'activité</h2>

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{*@

    @*@Html.HiddenFor(m=>m.Account.Id)
    @Html.HiddenFor(n=>n.Inventory.Id)*@

    @*<div>
        @Html.LabelFor(m => m.Activity.activityType)
        @Html.DropDownListFor(m => m.Activity.activityType,Html.GetEnumSelectList<Projet2.Models.ActivityType>(),"Selectionnez le type d'activité")
        @Html.ValidationMessageFor(m => m.Activity.activityType)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Activity.ActivityEventType)
        @Html.DropDownListFor(m => m.Activity.ActivityEventType, Html.GetEnumSelectList<Projet2.Models.EventType>(), "Selectionnez le type d'evenement")
        @Html.ValidationMessageFor(m => m.Activity.ActivityEventType)
    </div>
    <div>
        @Html.LabelFor(m => m.Activity.Theme)
        @Html.TextBoxFor(m => m.Activity.Theme)
        @Html.ValidationMessageFor(m => m.Event.Theme)
    </div>
    <div>
        @Html.LabelFor(m => m.Activity.Description)
        @Html.TextBoxFor(m=>m.Activity.Description)
        @Html.ValidationMessageFor(m => m.Activity.Description)
    </div>

    <div>
        @Html.LabelFor(m => m.Activity.Place)
        @Html.TextBoxFor(m=>m.Activity.Place)
        @Html.ValidationMessageFor(m => m.Activity.Place)
    </div>

    <div>
        @Html.LabelFor(m => m.Activity.ActivityImage)
        @Html.TextBoxFor(model => model.Activity.ActivityImage, new { placeholder = "Description", @type = "file",accept=".png, .jpg, .jpeg,.gif" })
        @Html.ValidationMessageFor(m => m.Event.Theme)
    </div>
    






    <input type="submit" value="Créer" />

}*@
