@model Projet2.ViewModels.StuffViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}

@using (Html.BeginForm())
{
<h2>Reservation Stuff</h2>


    @Html.HiddenFor(m=>m.Stuff.Id)
    @Html.HiddenFor(m=>m.Stuff.AccountBorrowerId)

    <p>Nom : @Model.Stuff.Name</p>
    <p>Description : @Model.Stuff.Description</p>
    <p>Type : @Model.Stuff.Type</p>
    <p>Etat : @Model.Stuff.State</p>
    <p>Reservation : @Model.Stuff.Reservation</p>
    <p>Emprunteur : @Model.Stuff.AccountBorrower.Username</p>
    <p>Argument : @Model.ReservationStuff.ReservationArgument</p>

    <input type="submit" value="Accepter" />
    
    
}
@*<div>
    @Html.ActionLink("Refuser","CancelationBookStuff","Stuff", new {id =Model.Stuff.Id})
</div>
<div>
    @Html.ActionLink("Retour","ReturnStuff","Stuff", new {id =Model.Stuff.Id})
</div>*@

@using (Html.BeginForm("CancelationBookStuff","Stuff", new { Model.Stuff.Id},FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Stuff.Id)

    <input type="submit" value="Refuser ">
}

@using (Html.BeginForm("CancelationBookStuff", "Stuff", new { Model.Stuff.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Stuff.Id)
    

    <input type="submit" value="Retour ">
}

