@model Projet2.ViewModels.StuffViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}


<div class="content">
    @using (Html.BeginForm())
{
        @Html.HiddenFor(m=>m.Stuff.Id)
        @Html.HiddenFor(m=>m.Stuff.AccountBorrowerId)

        <h1>Demande de réservation</h1>
        <div class="image">
            <img src="@Model.Stuff.ImagePath" alt="Photo du Stuff" />
        </div>

        <div class="attributs">
            <div class="name">
                <label><b>@Model.Stuff.Name</b></label>
            </div>

            <div class="type">
                -
                <label>@Model.Stuff.Type</label>
            </div>

            <div class="state">
                -
                <label>@Model.Stuff.State</label>
            </div>

            <div class="owner">
                <label><em>Skyouuuh</em></label>
            </div>
        </div>

        <div class="description">
            <label>
                <b>Description</b>
                <p>
                    @Model.Stuff.Description
                </p>
            </label>
        </div>

        <div class="reason">
            <label>
                <b>Les raisons de <b>@Model.Stuff.AccountBorrower.Username</b></b>
                <p>
                    @Model.ReservationStuff.ReservationArgument
                </p>
            </label>
        </div>
        <input type="submit" id="submit" value="Accepter" />
        @*<input type="button" id="decline" value="Refuser" />
        <input type="button" id="return" value="Retour" />*@
}



<div id="decline">
    @using (Html.BeginForm("CancelationBookStuff", "Stuff", new { Model.Stuff.Id }, FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.Stuff.Id)

        <input type="submit" value="Refuser ">
    }
</div>
<div id="return">
@using (Html.BeginForm("CancelationBookStuff", "Stuff", new { Model.Stuff.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Stuff.Id)


    <input type="submit" value="Retour ">
}
</div>
</div>


@section ExtraCss{
    <link rel="stylesheet" href="~/css/VueAcceptationReservation.css" />
                }




@*@using (Html.BeginForm())
{
<h2>Reservation Stuff</h2>


    @Html.HiddenFor(m=>m.Stuff.Id)
    @Html.HiddenFor(m=>m.Stuff.AccountBorrowerId)

    <p>Nom : @Model.Stuff.Name</p>
    <p>Description : @Model.Stuff.Description</p>
    <p>Type : @Model.Stuff.Type</p>
    <p>Etat : @Model.Stuff.State</p>
    <p>Reservation : @Model.Stuff.Reservation</p>
    <p>Emprunteur : @Model.Stuff.AccountBorrower.Username</p>
    <p>Argument : @Model.ReservationStuff.ReservationArgument</p>

    <input type="submit" value="Accepter" />
    
  

}*@

@*<div>
    @Html.ActionLink("Refuser","CancelationBookStuff","Stuff", new {id =Model.Stuff.Id})
</div>
<div>
    @Html.ActionLink("Retour","ReturnStuff","Stuff", new {id =Model.Stuff.Id})
</div>*@


@*@using (Html.BeginForm("CancelationBookStuff","Stuff", new { Model.Stuff.Id},FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Stuff.Id)

    <input type="submit" value="Refuser ">
}*@

@*@using (Html.BeginForm("CancelationBookStuff", "Stuff", new { Model.Stuff.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Stuff.Id)
    

    <input type="submit" value="Retour ">
}*@

