@model Projet2.ViewModels.ProfileViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}

<div class="content">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m=>m.Stuff.Id)
        @Html.HiddenFor(m=>m.Stuff.AccountBorrowerId)

        <h1>Consultation Réservation</h1>
        <div class="image">
            <img src="@Model.Stuff.ImagePath" alt="Photo du Stuff" />
        </div>

        <div class="attributs">
            <div class="name">
                <label><b>@Model.Stuff.Name</b></label>
            </div>

            <div class="type">
                -
                <label>@Model.Stuff.Type</label>
            </div>

            <div class="state">
                -
                <label>@Model.Stuff.State</label>
                <label>Reservation : @Model.Stuff.Reservation</label>
            </div>

            <div class="owner">
                <label><em>@Model.Stuff.AccountOwner.Username</em></label>
            </div>
        </div>

        <div class="description">
            <label>
                <b>Description</b>
                <p>
                    @Model.Stuff.Description
                </p>
            </label>
        </div>

        <div class="reason">
            <label>
                <b>Les raisons de <b>@Model.Stuff.AccountBorrower.Username</b></b>
                <p>
                    @Model.ReservationStuff.ReservationArgument
                </p>
            </label>
        </div>
        <input type="submit" id="submit" value="Annuler la réservation" />

    }

</div>

@section ExtraCss{
    <link rel="stylesheet" href="~/css/ConsultationBookStuff.css" />
                }


@*@using (Html.BeginForm())
{
    <h2>Consultation Réservation</h2>


    @Html.HiddenFor(m=>m.Stuff.Id)
    @Html.HiddenFor(m=>m.Stuff.AccountBorrowerId)

        <p>Nom : @Model.Stuff.Name</p>
        <p>Description : @Model.Stuff.Description</p>
        <p>Type : @Model.Stuff.Type</p>
        <p>Etat : @Model.Stuff.State</p>
        <p>Reservation : @Model.Stuff.Reservation</p>
        <p>Emprunteur : @Model.Account.Username</p>
        <p>Argument : @Model.ReservationStuff.ReservationArgument</p>

        <input type="submit" value="Annuler la réservation" />


}*@