@model Projet2.ViewModels.ProfileViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}


<h2>Reservation Stuff</h2>
@Html.HiddenFor(m=>m.Stuff.Id)

<p>Nom : @Model.Stuff.Name</p>
<p>Description : @Model.Stuff.Description</p>
<p>Type : @Model.Stuff.Type</p>
<p>Type : @Model.Stuff.State</p>
<p>Auteur : @Model.Stuff.AccountOwnerId</p>

@Html.LabelFor(m => m.reservationStuff.StartDate)
@Html.EditorFor(m => m.reservationStuff.StartDate, new { htmlAttributes = new { @class = "form-control" } })

@Html.LabelFor(m => m.reservationStuff.EndDate)
@Html.EditorFor(m => m.reservationStuff.EndDate, new { htmlAttributes = new { @class = "datepicker" } })

<input type="submit" value="Réserver" />



