@model Projet2.ViewModels.StuffViewModel
@{
    Layout = "_LayoutGeneral";
}

<div class="content">
    @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m=>m.Stuff.AccountOwnerId)



        <h1>Mise à disposition du matériel</h1>
        <div class="name">
            <label><b>Nom</b></label>
        </div>
        @Html.TextBoxFor(m => m.Stuff.Name)
        @Html.ValidationMessageFor(m => m.Stuff.Name)

        <div class="description">
            <label><b>Description</b></label>
        </div>
        @Html.TextAreaFor(m => m.Stuff.Description, new {placeholder = "Decrivez-vous en quelques lignes"})
        @Html.ValidationMessageFor(m => m.Stuff.Description)

        <div class="type">
            <label><b>Type</b></label>
        </div>
        @Html.DropDownListFor(m => m.Stuff.Type, Html.GetEnumSelectList<Projet2.Models.Type>(), "Selectionner un Type")
        @Html.ValidationMessageFor(m => m.Stuff.Type)

        <div class="StuffPic">
            <label><b>Image du materiel</b></label>
        </div>
        @Html.TextBoxFor(model => model.Stuff.StuffImage, new { placeholder = "Description", @type = "file" })

        <div class="state">
            <label><b>Etat</b></label>
        </div>
        <div class="radio-buttons-state">
            <div class="radios">
                @Html.LabelFor(m => m.Stuff.State,"Neuf")
                @Html.RadioButtonFor(m=>m.Stuff.State,"Neuf")
                @Html.LabelFor(m => m.Stuff.State,"Très Bon")
                @Html.RadioButtonFor(m=>m.Stuff.State,"TrèsBon")
                @Html.LabelFor(m => m.Stuff.State,"Bon")
                @Html.RadioButtonFor(m=>m.Stuff.State,"Bon")
                @Html.LabelFor(m => m.Stuff.State,"Acceptable")
                @Html.RadioButtonFor(m=>m.Stuff.State,"Acceptable")
            </div>
        </div>

        <input type="submit" id="submit" value="Créer" />
    }
</div>


    @section ExtraCss {
        <link rel="stylesheet" href="~/css/VueCreateStuff.css"/>
    }



@*<h2>CreateStuff</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.Stuff.AccountOwnerId)


    <h1>Mise à disposition de Matériel</h1>

        <div>
        @Html.LabelFor(m => m.Stuff.Name)
        @Html.TextBoxFor(m => m.Stuff.Name)
        @Html.ValidationMessageFor(m => m.Stuff.Name)
        </div>
    <div>
        @Html.LabelFor(m => m.Stuff.Description)
        @Html.TextBoxFor(m => m.Stuff.Description)
        @Html.ValidationMessageFor(m => m.Stuff.Description)
    </div>

    @*<div>
        @Html.LabelFor(m => m.StuffImage)
        @Html.TextBoxFor(m => m.StuffImage, new {@type = "file"})
    </div>*@
        

    @*<div>
        @Html.LabelFor(m => m.Stuff.Type)
        @Html.DropDownListFor(m => m.Stuff.Type, Html.GetEnumSelectList<Projet2.Models.Type>(), "Selectionner un Type")
        @Html.ValidationMessageFor(m => m.Stuff.Type)
     </div>*@

        
        @*<div>
        @Html.LabelFor(m => m.Stuff.State,"Neuf")
        @Html.RadioButtonFor(m=>m.Stuff.State,"Neuf")
        @Html.LabelFor(m => m.Stuff.State,"Très Bon")
        @Html.RadioButtonFor(m=>m.Stuff.State,"TrèsBon")
        @Html.LabelFor(m => m.Stuff.State,"Bon")
        @Html.RadioButtonFor(m=>m.Stuff.State,"Bon")
        @Html.LabelFor(m => m.Stuff.State,"Acceptable")
        @Html.RadioButtonFor(m=>m.Stuff.State,"Acceptable")
        </div>*@
        



            @*<input type="submit" value="Créer" />

}*@


