@model Projet2.Models.Stuff
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}


<h2>Reservation Stuff</h2>
@Html.HiddenFor(m=>m.Id)

<p>Nom : @Model.Name</p>
<p>Description : @Model.Description</p>
<p>Type : @Model.Type</p>
<p>Etat : @Model.State</p>


