@model Projet2.Models.Stuff
@{
    Layout = "_LayoutGeneral";
}
<h2>CreateStuff</h2>

@using (Html.BeginForm())
{
        @Html.HiddenFor(m=>m.AccountOwnerId)   
    
    <h1>Mise à disposition de Matériel</h1>
        <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
        </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    @*<div>
        @Html.LabelFor(m => m.StuffImage)
        @Html.TextBoxFor(m => m.StuffImage, new {@type = "file"})
    </div>*@
        
    <div>
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, Html.GetEnumSelectList<Projet2.Models.Type>(), "Selectionner un Type")
        @Html.ValidationMessageFor(m => m.Type)
     </div>
        
        <div>
        @Html.LabelFor(m => m.State,"Neuf")
        @Html.RadioButtonFor(m=>m.State,"Neuf")
        @Html.LabelFor(m => m.State,"Très Bon")
        @Html.RadioButtonFor(m=>m.State,"TrèsBon")
        @Html.LabelFor(m => m.State,"Bon")
        @Html.RadioButtonFor(m=>m.State,"Bon")
        @Html.LabelFor(m => m.State,"Acceptable")
        @Html.RadioButtonFor(m=>m.State,"Acceptable")
        </div>
        



            <input type="submit" value="Créer" />

}


