@model Projet2.ViewModels.StuffViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}




<div class="content">
    <div class="table">
        <div class="table-title">
            <h1>Catalogue de matériels</h1>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <tr>
                        <th><h3>Nom</h3></th>
                        <th><h3>Description</h3></th>
                        <th><h3>Type</h3></th>
                        <th><h3>Etat</h3></th>
                        <th id="reservation-head"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stuff in Model)
                    {
                        if(stuff.AccountBorrowerId == null)
                        {
                            <tr height="50px">
                                <td id="row-start" style="text-align : center">@stuff.Name</td>
                                <td style="text-align : center">@stuff.Description</td>
                                <td id="row-end" style="text-align : center">@stuff.Type</td>
                                <td id="reservation" style="text-align : center">@stuff.State</td>
                    
                                @*<td><img src="@stuff.ImagePath" height="400" width="400" /></td>*@
                                @*<td><a asp-controller="Stuff" asp-action="CreateBookStuff" asp-route-id="@stuff.Id">Réserver</a></td>*@
                                <td>@Html.ActionLink("Réserver", "CreateBookStuff", "Stuff", new { id = stuff.Id })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section ExtraCss {
            <link rel="stylesheet" href="~/css/VueStuffCatalog.css"/>
    }





@*<h2>Catalogue de Stuff</h2>

<div>
    <table border="1">
        <tr>
            <th><h2>Nom</h2></th>
            <th><h2>Description</h2></th>
            <th><h2>Type</h2></th>
            <th><h2>Etat</h2></th>
            

        </tr>
        @foreach (var stuff in Model.stuffs)
        {
            if(stuff.AccountBorrowerId == null)
            {
                <tr>
                    <td style="text-align : center">@stuff.Name</td>
                    <td style="text-align : center">@stuff.Description</td>
                    <td style="text-align : center">@stuff.Type</td>
                    <td style="text-align : center">@stuff.State</td>*@
                    
                    @*<td><img src="@stuff.ImagePath" height="400" width="400" /></td>*@
                    @*<td><a asp-controller="Stuff" asp-action="CreateBookStuff" asp-route-id="@stuff.Id">Réserver</a></td>*@
                    @*<td>@Html.ActionLink("Réserver", "CreateBookStuff", "Stuff", new { id = stuff.Id })</td>
                </tr>
            }
        }
    </table>

</div>*@
