@model Projet2.ViewModels.AdherentViewModel
@{
    Layout = "_LayoutGeneral";
}
<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(m => m.Account.Username)
        @Html.TextBoxFor(m => m.Account.Username)
        @Html.ValidationMessageFor(m => m.Account.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.Account.Password)
        @Html.PasswordFor(m => m.Account.Password)
        @Html.ValidationMessageFor(m => m.Account.Password)
    </div>
    <input type="submit" value="Créer" />







    
}