@model Projet2.ViewModels.EmployeeViewModel

@{
    Layout = "_LayoutGeneral";
}


@Html.HiddenFor(m=>m.Account.Id)
@Html.HiddenFor(m=>m.Account.ProfileId)
@Html.HiddenFor(m=>m.Account.ContactId)
@Html.HiddenFor(m=>m.Account.InfoPersoId)
@Html.HiddenFor(n=>n.Inventory.Id)
@Html.HiddenFor(model=>model.Profile.ImagePath)

<div class="content">
    <div class="banner-region">
        <div class="banner">
            <div class="nav-links-profile">
                <ul>
                    <li><a href="#">Paramètres du compte</a></li>
                    <li>@Html.ActionLink("Ajouter du materiel", "CreateStuff", "Stuff", new {accountId = Model.Account.Id})</li>
                    <li>@Html.ActionLink("Consulter le planning", "PlanningView", "Planning", new {accountId = Model.Account.Id})</li>
                    <li>@Html.ActionLink("Messagerie", "MessageBoardView", "Messagerie", new {accountId = Model.Account.Id})</li>
                </ul>
            </div>
            <img src="~/Assets/Hamburger/transparent-hd-white-menu-burger-icon-31634946136ufll2pj5eo-removebg-preview.png"
                 alt="menu hamburger"
                 class="menu-hamburger-profile" />
            <div class="side-section-top">
                <div class="profile-pic">
                    <img src="@Model.Profile.ImagePath" alt="Photo de profil" ,height="400" width="400" />
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="side-section">
                <div class="pseudo1">@Model.Account.Username</div>
                <hr />
                <div class="about">
                    <h3>A propos</h3>
                    <p>@Model.Profile.Bio</p>
                </div>
                <hr />
                <div class="firstname1">
                    <h3>Prenom</h3>
                    @Model.Infos.FirstName
                </div>
                <hr />
                <div class="lastname1">
                    <h3>Nom</h3>
                    @Model.Infos.LastName
                </div>
                <hr />
                <div class="birthday1">
                    <h3>Date de naissance</h3>
                    @Model.Infos.Birthday
                </div>
                <hr />
                <div class="games1">
                    <h3>Jeux favoris</h3>
                    @Model.Profile.Games
                </div>
            </div>
            <div class="part1">
                <div class="username">
                    <label><b>Nom d'utilisateur <sup>*</sup></b></label>
                </div>
                @Html.TextBoxFor(m => Model.Account.Username)
                @Html.ValidationMessageFor(m => Model.Account.Username)

                <div class="password">
                    <label><b>Mot de passe <sup>*</sup></b></label>
                </div>
                @Html.PasswordFor(m => Model.Account.Password)
                @Html.ValidationMessageFor(m => Model.Account.Password)


            <div class="part2">

                <div class="email">
                    <label><b>Email <sup>*</sup></b></label>
                </div>
                @Html.TextBoxFor(m =>m.Contact.EmailAdress)
                @Html.ValidationMessageFor(m =>m.Contact.EmailAdress)

                <div class="telephone">
                    <label><b>Telephone <sup>*</sup></b></label>
                </div>
                @Html.TextBoxFor(m =>m.Contact.TelephoneNumber)
                @Html.ValidationMessageFor(m =>m.Contact.TelephoneNumber)


            </div>
</div>
</div>
</div>
</div>