@model Projet2.ViewModels.PublicationViewModel
@{
    Layout = "_LayoutGeneral";
}

<div class="content">
@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <h1>Création d'une publication</h1>


        <div class="attributs">
            <div class="name">
                <label><b>Titre</b></label>
                @Html.TextBoxFor(m => m.Publication.Name, new { placeholder = "Entrez le titre de votre publciation"})
                @Html.ValidationMessageFor(m => m.Publication.Name)
            </div>

            <div ="type">
                <label><b>Type</b></label>
                @Html.DropDownListFor(m => m.Publication.PublicationType, Html.GetEnumSelectList<Projet2.Models.PublicationTypes>(), "Selectionner un Type")
                @Html.ValidationMessageFor(m => m.Publication.PublicationType)
            </div>
            

            <div class="date">
                <label><b>Date</b></label>
                @Html.TextBoxFor(m => m.Publication.Date, new { @type = "datetime-local"})
                @Html.ValidationMessageFor(m => m.Publication.Date)
            </div>
              
            <div class="image">
                <label><b>Image</b></label>
                @Html.TextBoxFor(model => model.Publication.PubliImage, new { @type = "file" })
                @Html.ValidationMessageFor(m => m.Publication.PubliImage)
            </div>

        </div>

        <div class="description">
            <div>
                <label><b>Contenu</b></label>
            </div>
            @Html.TextAreaFor(m => m.Publication.Content)
            @Html.ValidationMessageFor(m => m.Publication.Content)
        </div>

        <input type="submit" id="submit" value="Publier" />

    }
</div>

@section ExtraCss{
    <link rel="stylesheet" href="~/css/VueCreatePublication.css" />
}







@*<h2>CreatePublication</h2>

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.HiddenFor(m=>m.Publication.Id)


    <div>
        @Html.LabelFor(m => m.Publication.Name)
        @Html.TextBoxFor(m => m.Publication.Name)
        @Html.ValidationMessageFor(m => m.Publication.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Publication.PublicationType)
        @Html.DropDownListFor(m => m.Publication.PublicationType, Html.GetEnumSelectList<Projet2.Models.PublicationTypes>(), "Selectionner un Type")
        @Html.ValidationMessageFor(m => m.Publication.PublicationType)
    </div>
    <div>
        @Html.LabelFor(m => m.Publication.Content)
        @Html.TextBoxFor(m => m.Publication.Content)
        @Html.ValidationMessageFor(m => m.Publication.Content)
    </div>
    <div>
        @Html.LabelFor(m => m.Publication.Date)
        @Html.TextBoxFor(m => m.Publication.Date, new { @type = "datetime-local"})
        @Html.ValidationMessageFor(m => m.Publication.Date)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Publication.PubliImage, new { placeholder = "Description", @type = "file" })
        @Html.ValidationMessageFor(m => m.Publication.PubliImage)
    </div>
    <input type="submit" value="Créer" />

}
*@

