@using Projet2.Models;
@model Projet2.ViewModels.PublicationViewModel
@{
    Layout = "_LayoutGeneral";
}


<div class="content">
      <div class="window">
        <div class="name"><h1>@Model.Publication.Name</h1></div>
        <div class="image">
          <img src="" alt="Image de l'article" />
        </div>
        <div class="publication-type"><h2>@Model.Publication.PublicationType</h2></div>
        <div class="description">@Model.Publication.Content</div>
        <div class="date">le @Model.Publication.Date</div>
        <div class="author">par <em>@*@Model.Account.Username*@</em></div>
        <div class="buttons">

          <button onclick="location.href='@Url.Action("EditPublication", "Publication" ,new {id=Model.Publication.Id})'">Modifier</button>
          <button onclick="location.href='@Url.Action("PublicationWall", "Publication")'">Retour</button>

        </div>
      </div>
    </div>

@section ExtraCSS {
    <link rel="stylesheet" href="~/css/OnePublication.css" />
}



















    <h2>PUBLICATION</h2>

  @*  @Html.HiddenFor(m=>m.Publication.Id)*@


    <h1>@Model.Publication.Name</h1>
    <p>@Model.Publication.PublicationType</p>
    <p>@Model.Publication.Date</p>
    <p>@Model.Publication.Content</p>

    
@Html.ActionLink("Modifier", "EditPublication", "Publication", new { id = Model.Publication.Id })
@Html.ActionLink("Retour", "PublicationWall", "Publication")

