@model Projet2.ViewModels.PublicationViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    Layout = "_LayoutGeneral";
}

<h2>Mur des publications</h2>

@Html.ActionLink("Créer", "CreatePublication", "Publication")

<div>
    <table border="1">
        <tr>
            <th><h2>Nom</h2></th>
            <th><h2>Type</h2></th>
            <th><h2>Contenu</h2></th>
            <th><h2>Date</h2></th>
            <th><h2>Auteur</h2></th>
            <th><h2>Modif</h2></th>



        </tr>
        @foreach (var Publication in Model.Publications)
        {
            var Account = Model.Account;
            <tr>
                <td>@Html.DisplayFor(mPublications => Publication.Name)</td>
                <td>@Html.DisplayFor(mPublications => Publication.PublicationType)</td>
                <td>@Html.DisplayFor(mPublications => Publication.Date)</td>
                <td>@Html.DisplayFor(mPublications => Publication.Content)</td>
                <td>@Html.DisplayFor(mAccount => Publication.Account.Username)</td>
                <td>@Html.ActionLink("Consulter", "OnePublication","Publication", new { id = Publication.Id })</td>
            </tr>
            
        }
    </table>

</div>
