@model Projet2.ViewModels.PlanningViewModel
@{
    Layout = "_LayoutGeneral";
}

<link rel=" stylesheet" href="~/css/PlanningView.css"/>
@Html.HiddenFor(m=>m.Account.Id)
@Html.HiddenFor(m=>m.Account.role)
@Html.HiddenFor(m=>m.Account.PlanningId)
@Html.HiddenFor(m=>m.Slot.Id)
@*@Html.HiddenFor(m=>m.Account.Id)*@
@*@Html.HiddenFor(m=>m.Account.role)
@Html.HiddenFor(m=>m.Account.ProfileId)*@

<section>


</section>

<section class="Planning">
  
    @Html.ActionLink("Profil","ProfileViewBenevole","Inscription",new{
    accountId=Model.Account.Id
    },null)

@if (Model.Account.role==Projet2.Models.Role.Benevole){
    <div>
 <img src="@Model.Profile.ImagePath" height="200" width="200" class="imgMiniP" />
     <h1 style="text-align: center">Planning de @Model.Account.Username :)</h1>
     </div>
<p class=" affichageActivités">
   Hey
    @Model.Account.Username,
            Vous etes @Model.Account.role au sein de Play 4 US!
            Ici vous pourrez consulter tous les évenements et activités auxquels vous vous etes iscrit!
       

        @foreach(var Slot in Model.slots)
        {
          <table>
             
              <tbody>
                        <tr class="Ligne-activity">
                            <td><img src="@Slot.Activity.ImagePath" height="100" width="100" alt="" class="" /></td>
                            <td>@Html.DisplayFor(mSlot=>Slot.Activity.activityType)</td>
                            <td>@Html.DisplayFor(mSlot=>Slot.Activity.Description)</td>
                            <td>@Html.DisplayFor(mSlot=>Slot.Activity.Place)</td>
                            
                            <td>@Html.DisplayFor(mSlot=>Slot.Activity.StartDate)</td>
                           <td>@Html.DisplayFor(mSlot=>Slot.Activity.EndDate)</td>
                            <td>@Html.DisplayFor(mSlot=>Slot.Activity.Organizer)</td>
                  </tr>
              </tbody>
          </table>  
        }
        </p>
    
}
    

    </section>